@mixin web {
  @media screen and (min-width:1024px) {
    @content;
  }
}

@mixin tb {
  @media screen and (min-width:451px) and (max-width:1023px) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width:450px) {
    @content;
  }
}


@mixin resize($width:100%) {
  @include web {
    width: calc($width / 2);
  }

  @include tb {
    width: calc($width / 1.5);
  }

  @include sm {
    width: calc($width);
  }
}

@mixin resizeFull($width:100%) {
  @include web {
    width: calc($width / 1.5);
  }

  @include tb {
    width: calc($width / 1.2);
  }

  @include sm {
    width: calc($width);
  }
}
