<main>
  <h1 libTextId="REOLL_TODAY_TITLE"></h1>
  <section>
    <div class="pool">
      <p class="title" libTextId="RT.sub_title_0"></p>
      <p libTextId="RT.info_0"></p>
      <p class="buttons">
        <button class="normal" (click)="checkAll()"
          [libTextId]="isAllSelect()?'RT.command_000':'RT.command_001'"></button>
        <button class="normal" (click)="reverse()" libTextId="RT.command_002"></button>
        <button class="normal" (click)="loadProfile(profile.value)" libTextId="RT.command_003"></button>
        <button class="normal" (click)="profile.value=outputProfile();profile.select()"
          libTextId="RT.command_004"></button>
        <input [placeholder]="text['RT.info_1']" #profile>
      </p>
      <p class="filter">
        <label><input type="checkbox" [(ngModel)]="session.filters['artifacts']"
            (change)="save()">{{text['RT.filter_00']}}</label>
        <label><input type="checkbox" [(ngModel)]="session.filters['base']"
            (change)="save()">{{text['RT.filter_01']}}</label>
        <label><input type="checkbox" [(ngModel)]="session.filters['boss']"
            (change)="save()">{{text['RT.filter_02']}}</label>
        <label><input type="checkbox" [(ngModel)]="session.filters['other']"
            (change)="save()">{{text['RT.filter_03']}}</label>
      </p>
      <ng-template *ngFor="let type of keys(processedPools)" [ngIf]="!type||session.filters[type]">
        <div>
          <label class="pool-block" *ngFor="let item of processedPools[type]" [class.checked]="item.isSelect"
            [style.background-image]="'url(\'assets/rt/'+(item.target||item.value)+'.webp\')'">
            <input type="checkbox" [value]="item.label" (change)="changePool(item)" hidden>
            <p>{{item.label}}</p>
          </label>
        </div>
        <hr>
      </ng-template>
      <div>
        <label *ngFor="let item of session.customPools" class="pool-block" [class.checked]="item.isSelect"
          [style.background-image]="'url(\'assets/rt/'+(item.target||item.value)+'.webp\')'" (click)="changePool(item)">
          <p>{{item.label}}</p>
          <a class="remove-tag" (click)="removePool(item)"></a>
        </label>
        <label class="pool-block custom" (click)="cusPoolModalFlag=true"
          [style.background-image]="'url(\'assets/plus1.svg\')'"></label>
      </div>
      <hr>
    </div>
  </section>
  <section class="mb5 row">
    <button class="back" routerLink="/" libTextId="RT.btn_00"></button>
    <button class="primary" (click)="roll()" [disabled]="rolledList.length<2" libTextId="RT.btn_01"></button>
  </section>
</main>
<div *ngIf="result" (click)="result=undefined">
  <div class="warpper"></div>
  <div class="body">
    <div class="text">{{text['RT.info_2a']}}<div class="pool-block checked"
        [style.background-image]="'url(\'assets/rt/'+(result.target||result.value)+'.webp\')'">
        <span>{{result.label}}</span>
      </div>{{text['RT.info_2b']}}</div>
  </div>
</div>
<div *ngIf="cusPoolModalFlag">
  <div class="warpper"></div>
  <div class="body">
    <div class="text col">
      <p libTextId="RT.info_3"></p>
      <br>
      <p libTextId="RT.info_4"><input #newPool type="text" [placeholder]="text['RT.info_5']"></p>
      <br>
      <section class="row">
        <button class="back" (click)="cusPoolModalFlag=false" libTextId="RT.btn_02"></button>
        <button class="primary" (click)="createPoolSetting(newPool.value)" libTextId="RT.btn_03"></button>
      </section>
    </div>
  </div>
</div>