header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  background: #F2994A;
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
  background: linear-gradient(to right, #F2C94C, #F2994A);
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 5rem;

  >div {
    height: 3rem;
    width: 4rem;
    border: #fff;
  }
}
